{{define "post_list"}}
    {{range $val := .Items}}
        <div class="col-md-4">
            <article class="post-item card border-0 shadow-sm p-3">
                <div class="image-holder zoom-effect">
                    <a href="{{.Url}}">
                        <img src="https://demo.templatesjungle.com/foodmart/images/post-thumb-1.jpg" alt="post" class="card-img-top">
                    </a>
                </div>
                <div class="card-body">
                    <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                        <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>22 Aug 2021</div>
                    </div>
                    <div class="post-header">
                        <h3 class="post-title">
                            <a href="#" class="text-decoration-none">Top 10 casual look ideas to dress up your kids</a>
                        </h3>
                        <p>{{.ShortContent}}</p>
                    </div>
                </div>
            </article>
        </div>
    {{end}}
{{end}}
