{{define "product_list"}}
    {{range $val := .Items}}
        <div class="col">
            <div class="product-item">
                <span class="badge bg-success position-absolute m-3">-30%</span>
                <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                <figure>
                    <a href="/tomato" title="Product Title">
                        <img src="https://demo.templatesjungle.com/foodmart/images/thumb-orange-juice.png" alt="Product Thumbnail" class="tab-image">
                    </a>
                </figure>
                <h3>Sunstar Fresh Melon Juice</h3>
                <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                <span class="price">$18.00</span>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="input-group product-qty">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                      <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                    </button>
                                </span>
                        <input type="text" name="quantity" class="form-control input-number quantity" value="1">
                        <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                        <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                    </button>
                                </span>
                    </div>
                    <a href="#" class="nav-link">Add to Cart <svg width="18" height="18"><use xlink:href="#cart"></use></svg></a>
                </div>
            </div>
        </div>
    {{end}}
{{end}}
