{{define "base"}}
<section class="py-5 mb-5" style="background: url(https://demo.templatesjungle.com/foodmart/images/background-pattern.jpg);">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <h1 class="page-title pb-2">Shop</h1>
            <nav class="breadcrumb fs-6">
                <a class="breadcrumb-item nav-link" href="#">Home</a>
                <a class="breadcrumb-item nav-link" href="#">Pages</a>
                <span class="breadcrumb-item active" aria-current="page">Shop</span>
            </nav>
        </div>
    </div>
</section>

<div class="shopify-grid">
    <div class="container-fluid">
        <div class="row g-5">
            <aside class="col-md-2">
                <div class="sidebar">
                    <div class="widget-price-filter pt-3">
                        <h5 class="widget-titlewidget-title">Filter By Price</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="#" class="nav-link">Less than $10</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$10- $20</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$20- $30</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$30- $40</a>
                            </li>
                            <li class="tags-item">
                                <a href="#" class="nav-link">$40- $50</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <main class="col-md-10">
                <div class="filter-shop d-flex justify-content-between">
                    <div class="showing-product">
                        <p>Showing 1–9 of 55 results</p>
                    </div>
                </div>

                <div class="product-grid row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                    {#outertemplate%productlist#}
                </div>
                <!-- / product-grid -->

                <nav class="text-center py-4" aria-label="Page navigation">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link bg-none border-0" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link border-0" href="#">1</a></li>
                        <li class="page-item"><a class="page-link border-0" href="#">2</a></li>
                        <li class="page-item"><a class="page-link border-0" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link border-0" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </main>

        </div>
    </div>
</div>

<section class="py-5">
    <div class="container-fluid">

        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <div class="section-header">
                            <h2 class="section-title display-4">Get <span class="text-primary">25% Discount</span> on your first purchase</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
                    </div>
                    <div class="col-md-6 p-5">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text"
                                       class="form-control form-control-lg" name="name" id="name" placeholder="Name">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Email</label>
                                <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="abc@mail.com">
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <label class="form-check-label" for="subscribe">
                                    <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                                    Subscribe to the newsletter</label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
{{end}}
