{{define "base"}}
<section class="py-5">
    <div class="container">
        <div class="mt-5">
            <div class="post-meta">
                <span class="post-category">Fashion</span> / <span class="meta-date">Jul 11, 2022</span>
            </div>
            <h1 class="page-title">Feel cool while walking in streets</h1>
        </div>
    </div>
</section>

<div>
    <div class="container">
        <div class="row">
            <main class="post-grid">
                <div class="row">
                    <article class="post-item">
                        <div class="post-content">
                            <div class="post-thumbnail mb-5">
                                <img src="images/banner-image-1.jpg" alt="single-post" class="img-fluid">
                            </div>
                            <div class="post-description py-4">
                                <p>
                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur facilisis vivamus massa magna. Blandit mauris libero condimentum commodo morbi consectetur sociis convallis sit. Magna diam amet justo sed vel dolor et volutpat integer. Iaculis sit sapien hac odio elementum egestas neque. Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi laoreet est euismod.</strong>
                                </p>
                                <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel. Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit ornare. Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt nunc integer sit.</p>
                                <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel.</blockquote>
                                <p>
                                    <strong>Consectetur Facilisis Vivamus</strong>
                                </p>
                                <ul style="list-style-type:disc;" class="inner-list">
                                    <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                                    <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                                    <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                                </ul>
                                <p>Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit ornare. Purus ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt nunc integer sit.</p>
                                <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus. Nunc tempus feugiat massa laoreet ultrices diam magna quam. Congue auctor auctor luctus neque. Enim lorem ultrices diam donec. Sed id placerat consectetur faucibus.</p>
                                <img src="images/banner-image-2.jpg" alt="post-image" class="img-fluid">
                                <p>
                                    <strong>Velit, praesent pharetra malesuada</strong>
                                </p>
                                <p>Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                                <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                                <p>Velit, praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                                <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                                <p>Praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                                <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>

                                <div class="post-tags mt-5">
                                    <div class="block-tag col-md-12">
                                        <ul class="list-unstyled d-flex">
                                            <li class="pe-3">
                                                <a href="#" class="btn btn-warning btn-small text-uppercase btn-rounded">Tips</a>
                                            </li>
                                            <li class="pe-3">
                                                <a href="#" class="btn btn-warning btn-small text-uppercase btn-rounded">Plant Hacks</a>
                                            </li>
                                            <li class="pe-3">
                                                <a href="#" class="btn btn-warning btn-small text-uppercase btn-rounded">indoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div id="single-post-navigation" class="my-5">
                                <div class="post-navigation d-flex flex-wrap align-items-center justify-content-between">
                                    <a itemprop="url" class="post-prev d-flex flex-column text-decoration-none" href="#" title="Previous Post">
                                        <span class="text-muted">Previous</span>
                                        <h3 class="page-nav-title">Get some cool plants for 2023</h3>
                                    </a>
                                    <a itemprop="url" class="post-next d-flex flex-column text-decoration-none" href="#" title="Next Post">
                                        <span class="text-muted">Next</span>
                                        <h3 class="page-nav-title">Check out these 10 Cute little Plants</h3>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </article>

                    <!-- comments -->
                    <section id="post-comment">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="comments-wrap">
                                        <h2 class="display-6 fw-normal text-dark my-5">
                                            <span class="count">3</span> Comments
                                        </h2>
                                        <div class="comment-list padding-small">
                                            <article class="comment-item d-flex flex-wrap mb-3">
                                                <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                    <img src="images/reviewer-1.jpg" alt="default" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="col-lg-10 col-sm-9 author-wrap">
                                                    <div class="author-post">
                                                        <div class="comment-meta d-flex">
                                                            <h4 class="author-name text-dark pe-1">Sam Smith</h4>
                                                            <span class="meta-date text-muted">Jul 10</span>
                                                        </div>
                                                        <p class="no-margin">Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus. Tortor diam dignissim amet, in interdum aliquet. Nascetur libero elementum adipiscing mauris maecenas et magna.</p>
                                                        <div class="comments-reply">
                                                            <a href="#" class="text-decoration-underline text-dark">Reply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="comment-item d-flex child-comments flex-wrap ps-5 mb-3">
                                                <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                    <img src="images/reviewer-2.jpg" alt="default" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="col-lg-10 col-sm-9 author-wrap">
                                                    <div class="author-post">
                                                        <div class="comment-meta d-flex">
                                                            <h4 class="author-name text-dark pe-1">Santie Mary</h4>
                                                            <span class="meta-date text-muted">Jul 10</span>
                                                        </div>
                                                        <p class="no-margin">Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                                                        <div class="comments-reply">
                                                            <a href="#" class="text-decoration-underline text-dark">Reply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="comment-item d-flex flex-wrap">
                                                <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                    <img src="images/reviewer-3.jpg" alt="default" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="col-lg-10 col-sm-9 author-wrap">
                                                    <div class="author-post">
                                                        <div class="comment-meta d-flex">
                                                            <h4 class="author-name text-dark pe-1">Analisa Nora</h4>
                                                            <span class="meta-date text-muted">Jul 10</span>
                                                        </div>
                                                        <p class="no-margin">Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                                                        <div class="comments-reply">
                                                            <a href="#" class="text-decoration-underline text-dark">Reply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="comment-respond mt-3 rounded-5 bg-light p-5 mt-5">
                                        <h2 class="display-6 fw-normal text-dark my-5">Leave a Comment</h2>
                                        <form method="post" class="form-group padding-small">
                                            <p>Your email address will not be published. Required fields are marked *</p>
                                            <div class="row">
                                                <div class="col-lg-12 mb-3">
                                                    <textarea class="form-control ps-3 pt-3" id="comment" name="comment" placeholder="Write your comment here *"></textarea>
                                                </div>
                                                <div class="col-lg-6 mb-3">
                                                    <input class="form-control ps-3" type="text" name="author" id="author" placeholder="Write your full name here *">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input class="form-control ps-3" type="email" name="email" id="email" placeholder="Write your e-mail address *">
                                                </div>
                                                <div class="col-lg-12">
                                                    <label class="d-flex align-items-center">
                                                        <input type="checkbox" class="checked-box me-2">
                                                        <span class="label-body">Save my name, email, and website in this browser for the next time.</span>
                                                    </label>
                                                </div>
                                                <div class="col-lg-12 mt-3">
                                                    <button class="btn btn-lg btn-primary text-uppercase btn-rounded-none w-100" type="submit">Post Comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- / comments -->

                </div>
            </main>
        </div>
    </div>
</div>

<section id="latest-blog" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="section-header d-flex align-items-center justify-content-between my-5">
                <h2 class="section-title">Our Recent Blog</h2>
                <div class="btn-wrap align-right">
                    <a href="#" class="d-flex align-items-center nav-link">Read All Articles <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="#">
                            <img src="images/post-thumb-1.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>22 Aug 2021</div>
                            <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>tips & tricks</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="#" class="text-decoration-none">Top 10 casual look ideas to dress up your kids</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec quam. A in arcu, hendrerit neque dolor morbi...</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="#">
                            <img src="images/post-thumb-2.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>25 Aug 2021</div>
                            <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>trending</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="#" class="text-decoration-none">Latest trends of wearing street wears supremely</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec quam. A in arcu, hendrerit neque dolor morbi...</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="#">
                            <img src="images/post-thumb-3.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>28 Aug 2021</div>
                            <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>inspiration</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="#" class="text-decoration-none">10 Different Types of comfortable clothes ideas for women</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec quam. A in arcu, hendrerit neque dolor morbi...</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{{end}}
